.footer {
    background-color: $color-secondary;
    padding: 8rem;
    font-size: 1.5rem;

    grid-column: full-start/ full-end;
    .nav{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fit,  minmax(15rem, 1fr));
        grid-gap: 2rem;
        justify-items: center ;
        align-items: center;


        &__link{
            
            &:link,
            &:visited {
                text-decoration: none;
                color: $color-grey-light-1;
                font-family: $font-display;
                text-align: center;
                text-transform: uppercase;
                padding: .5rem 1.5rem;
                display: block;
                transition: all .3s;
            }
            
            &:hover,
            &:active {
                background-color: rgba(white,  .05);
                transform: translateY(-3px);
            }
        }
    }
    &__copyright {
        grid-column: 1/ span 6;
        color: $color-grey-light-2;
        text-align: center;
        font-size: 1.4rem;
    }
}